@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<div class = "container">
    <div class = "row">
        <div class = "col-6">
            <figure>
                <img src="https://avatars.githubusercontent.com/u/16841000?v=4" alt="bornacvitanic profilna" title="bornacvitanic profilna"/></img>
                <figcaption>
                    bornacvitanic
                </figcaption>
            </figure>
        </div>
        <div class = "col-6">
            <p>I specilaize in writing modular and extendable code, creating whole systems with a clean architecture separated into isolated assemblies, multiplayer using Photon Fusion, custom inspectors, property drawers, attribute drawers, custom windows, scene gizmos and handles, custom interactive and procedural shaders using Shader Graph, post process effect, custom render passes, interactive VFX using VFX Graph and Graphics buffers etc. I mostly work in URP and HDRP. I only do hard surface 3D models and basic textures, I'm not a professional texture artist or expert 3D modeler, I can create whole abilities for games, from the shaders, particles, models to logic.
    I prefer writing clean code using polimorphism and interfaces, following the SOLID principles, separating systems into their own assemblies for a cleaner architecture and faster assembly reload times etc.</p>
        </div>
    </div>
</div>


