@using BornaCvitanicPortfolioWebapp.Model.Portfolio
@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="mb-3">
    <label for="Title" class="form-label">Title <span style="color:red">*</span></label>
    <input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Title.." aria-describedby="emailHelp">
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="mb-3">
    <label for="Description" class="form-label">Description <span style="color:red">*</span></label>
    <input asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description.." aria-describedby="emailHelp">
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary">Submit</button>