@using BornaCvitanicPortfolioWebapp.Model.Portfolio
@model List<Post>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Create" class="btn btn-primary">New Post</a>
}
@foreach (var post in Model)
{
    <div class = "border border-dark p-2">
        <h3>@post.Title</h3>
        <figure>
            <img src="~/files/@post.ImagePath" alt=@post.Title title=@post.Title width="100%">
            <figcaption>
                <p>@post.Description</p>
            </figcaption>
        </figure>
        
        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<IdentityUser> SignInManager
        @inject UserManager<IdentityUser> UserManager

        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-success">Edit</a>
            <a asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
        }
       
    </div>
}