@using BornaCvitanicPortfolioWebapp.Model.Portfolio
@model Post

<label class="control-label">Images</label> 
    <form id="postImages" asp-controller="Post" asp-action="UploadImage" asp-route-postId="@Model.Id" enctype="multipart/form-data" class="dropzone">
        <input type="hidden" value="@Model.Id"/>
    </form> 

    <a asp-action="Index" class="btn btn-primary">Confirm</a>


@section Scripts{
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"</script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />


<script type="text/javascript"> 
    Dropzone.options.postImages = { 
        addRemoveLinks: true,
        paramName: "file",
        acceptedFiles: ".png,.jpg,.gif,.jpeg",
        maxFiles: 1,
        dictInvalidFileType: "You can't upload files of this type.",
        success: function (file, response) { 
            console.log({ file, response });
        },
        removedfile(file) {
            console.log(file);
            if (file.previewElement != null && file.previewElement.parentNode != null) {
                file.previewElement.parentNode.removeChild(file.previewElement);
            }
            return this._updateMaxFilesReachedClass();
        },
    }; 
</script>
}